@import "tailwindcss";

body {
  margin: 0;
  background-color: #020617; /* bg slate scuro */
  color: #e5e7eb;            /* testo chiaro */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}
